$water-color: #d5f5ff;
$shoreline-color: #d8ffda;
$cross-color: #333;
$grid-color: #c2e2ec;
$grid-color-highlight: #aaa;
$text-color: #777;

.dock-svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .background {

    .water {
      stroke-width: 0;
      fill: $water-color;
      pointer-events: none;
    }

    .shoreline {
      stroke-width: 0;
      fill: $shoreline-color;
      pointer-events: none;
    }

    .center-line {
      stroke-width: 1;
      stroke: $cross-color;
      pointer-events: none;
    }

    .grid {
      stroke-width: 1;
      stroke: $grid-color;
      pointer-events: none;

      .highlight {
        stroke: $grid-color-highlight;
      }

      .text {
        stroke-width: 0;
        font-size: 12px;
        fill: $text-color;
      }
    }
  }

  .component {
    position: absolute;
  }

  .component.pointer-none {
  }

  .component.pointer-painted {
    pointer-events: painted !important;
  }
}
