$shoreline-color: #d3ffd7;
$cross-color: #333;
$grid-color: rgba(188, 188, 188, 0.50);
$grid-color-highlight: #dfdfdf;
$water-color: #5fb3d1; // or b3ebff 
$text-color: #222;
$text-bubble-color: #eee;
$text-bubble-border: #aaa;
$component-outline: #666;
$hightlight-color: #0F0;

.dock-svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .background {

    .water {
      stroke-width: 0;
      pointer-events: none;
    }

    .water-colored {
      fill: $water-color;
      stroke-width: 0;
      pointer-events: none;
    }

    .shoreline {
      stroke-width: 0;
      fill: $shoreline-color;
      pointer-events: none;
    }

    .center-line {
      stroke-width: 1;
      stroke: $cross-color;
      pointer-events: none;
    }

    .grid {
      stroke-width: 1;
      stroke: $grid-color;
      pointer-events: none;

      .highlight {
        stroke: $grid-color-highlight;
      }

      .text {
        stroke-width: 0;
        font-size: 12px;
        fill: $text-color;
      }

      .text-bubble {
        stroke-width: 1;
        stroke: $text-bubble-border;
        fill: $text-bubble-color;
      }
    }
  }

  .component {
    position: absolute;

    .component-outline {
      stroke: $component-outline;
      stroke-width: 1;
      fill: none;
    }

    .panel-vertical {
      stroke: none;
    }

    .panel-horizontal {
      stroke: none;
    }
  }

  .component.pointer-none {
    pointer-events: none;
  }

  .component.dragging {
    opacity:0.5;
  }

  .component.pointer-painted {
    pointer-events: painted !important;
  }

  .hightlight {
    stroke: $hightlight-color;
    stroke-width: 1;
    fill: $hightlight-color;
  }

  .hightlight.outline {
    fill: none !important;
    stroke-width: 8 !important;
  }
}
